@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&display=swap');


*
{
    margin: 0%;
    padding: 0%;
}

body
{
    background: linear-gradient(-45deg, #ee7752, #f7d749, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: "Catamaran";
    font-size: 1vw;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card-header
{
    background-image: linear-gradient(to right,#00bfff,#0074ff);
    color: white;
    font-family: "Bebas Neue";
    font-size: 2vw;
}

.btn
{
    background-image: linear-gradient(to right,#f1307d,#9c06f3);
    border: none;
    font-size: 1.1vw;
}

.btn:hover
{
    background-image: linear-gradient(to right,#f14389,#ab3ceb);
}

.messages
{
    color: red;
    list-style-type: none;
    font-size: 1.1vw;
}